@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');
.search-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.search-result {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 8.2);
    overflow: hidden;
}

.search-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.search-result:hover img {
    opacity: 0.8;
}

.search-result a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more-btn {
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and(max-width:760px) {
    .search-results {
        padding: 20px;
    }
    .search-result {
        width: 45%;
    }
}

@media screen and(max-width:480px) {
    .search-result {
        width: 100%;
    }
}