* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab-content {
    padding: 10px;
    margin: 10px;
}

body {
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(19, 122, 71) 0%, rgb(89, 224, 150) 35%, rgb(134, 246, 164) 100%);
}

.content_boxes {
    border: 1px solid rgb(250, 252, 251);
    margin-top: 1rem;
    min-height: 2rem;
}

button {
    background-color: rgb(13, 219, 105);
}

.btn {
    background-color: rgb(13, 219, 105);
}

.form-label {
    color: aliceblue;
}

.fn {
    display: inline-block;
    ;
}